.root{
	-fx-background-color: lemonchiffon;
	-fx-text-fill: ghostwhite;
	-fx-font-family: 'sans serif';
}

.button {
	-fx-background-color: forestgreen; 
	-fx-text-fill: ghostwhite;
	-fx-font-family: 'cursive';
	-fx-effect: dropshadow(one-pass-box, black, 4, 0, 0, 1); /*This website was used to find this feature: https://docs.oracle.com/javase/8/javafx/user-interface-tutorial/apply-css.htm#BJEJIHFC */
}

.label {
	-fx-font-family: 'sans serif';	
}

.checkbox {
	-fx-font-family: 'sans serif';
}

.choicebox {
	-fx-font-family: 'sans serif';
}

/* Website used to find colours: https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html#typecolor */
/* Website used to find fonts: https://docs.oracle.com/cd/E17802_01/javafx/javafx/1.3/docs/api/javafx.scene/doc-files/cssref.html#typefont */
