/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-background-color: lemonchiffon;
	-fx-text-fill: ghostwhite;
}

.button {
	-fx-background-color: forestgreen; 
	-fx-text-fill: ghostwhite;
}

/* Website used to find colours: https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html#typecolor */